@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container mt-5 ">
    <div class="row">
        <div class="col-lg-4 col-md-8 m-auto  mt-5">
            <div class="login-page-content mt-5">
                <div class="login-form">
                    <h3>Welcome Back!</h3>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email or Username" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="log-btn">
                            <button type="submit"><i class="fa fa-sign-in"></i> Log In</button>
                        </div>
                    </form>
                </div>
                <div class="login-other">
                    <span class="or">or</span>
                    <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Login With Facebook</a>
                    <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Login With Google</a>
                </div>
                <div class="create-ac">
                    <p>Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a></p>
                    <p>Don't have an <a asp-page="./ForgotPassword">Forgot your password?</a></p>
                </div>
                <div class="login-menu">
                    <a href="about.html">About</a>
                    <span>|</span>
                    <a href="contact.html">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 ">
    <div class="row">
        <div class="col-lg-6 col-md-8 m-auto  mt-5">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
 </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }


